<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="LogicaUno.ServicioContratoUno">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:2020/PrimerServicioWCF"/>
          </baseAddresses>
        </host>
        <endpoint address="PrimerServicioWVF"
                  binding="netTcpBinding" contract="LogicaUno.IContratoUno"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>